body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.6;
}

.button {
    background: coral;
    padding: 1em 2em;
    border: 0; /* or border-style: none; */
}

.button:hover {
    background: #333;
    color: white;
}

.overlay {
    display: none; /* will be dinamically changed from js */
    position: fixed;
    z-index: 1; /* non-statically positioned elements have the ability to use z-index */
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto; /* whenever the content needs more space it will scroll within the overlay */
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background: #f4f4f4;
    margin: 20% auto;
    padding: 20px;
    max-width: 700px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 
                0 7px 20px 0 rgba(0, 0, 0, 0.2);
    /* creating animation for keyframe */
    animation-name: modalopen; /* name of animation (this calls the 'modalopen' keyframe) */
    animation-duration: 0.8s;
}

.closeBtn {
    color: #ccc;
    float: right;
    font-size: 30px;
}

.closeBtn:hover,
.closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen {
    from { opacity: 0 }
    to { opacity: 1 }
}