body { /* the alignment we are doing here is not neccesarily for a whole site, we are doing it here mostly because we are showcasing a demo of this component so that it looks more presentable */
    margin: 0; /* to avoid that annoying scrolling since our body has margin by default */
    /* background: pink; /* See that the background will fill the whole screen... */
    /* border: 7px solid black; /* but apply border and without the min-height: 100vh you would notice that the height of the body is just the height of its content, so the 'height' property set to 100vh was required for 'align-items' to have space to work */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 90%;
    max-width: 800px;
    background: #111d4a;
    color: #fff;

    display: flex;
    flex-direction: column;
}

.card-img {
    object-fit: cover;
    flex-basis: 200px; /* here it is acting as a height as flex-basis works vertically when flex: column */
    /* background: yellow; */
    /* these two properties below help fixing a bug that happens when using flex-basis on images so that flex-basis works as it normally should*/
    min-width: 0;
    min-height: 0;
}

.card-content {
    padding: 1.5em;
}

.card-title,
.card-read-time,
.card-btn {
    font-family: 'Blinker', sans-serif;
}

.card-title {
    color: #05cbe9;
    font-size: 1.75rem; /* we want it to be 28px, so we divided 28/16 (remember 1em = 16px) */
    font-family: 'Blinker', sans-serif;
    margin: 0;
}

.card-body {
    font-size: 1rem; /* we want it to be 16px */
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.6;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 3em;
}

.card-btn {
    font-size: 1.25rem; /* We want 20px so 20/16 = 1.25rem */
    background: #05cbe9;
    color: #111d4a;
    text-decoration: none;
    font-weight: 700;
    padding: .35em 1em;
    letter-spacing: 1px;
}

.card-read-time {
    margin: 0;
    font-size: 16px;
    opacity: .6;
    line-height: 1;
}

.card-read-time span {
    font-weight: 700;
    display: block;
    font-size: 1.25em; /* this could be a good special case when we would use em's instead of rem */
}

@media (min-width: 600px) {
    .card {
        flex-direction: row;
    }

    .card-img {
        height: 300px;
        /* here flex basis will add a width of 200px */
    }

    .card-content {
        display: flex;
        flex-direction: column;
    }

    .card-title {
        font-size: 2.25rem;
    }

    .card-body {
        font-size: 1.125rem;
        max-width: 500px; /* to limit the character length, so some screens do not end up with one line which is harder to read (as this comment lol). A good guideline is to keep it the character length between 45 to 75 characters. */
    }

    .card-footer {
        margin-top: auto;
    }
}