/* font-family: 'Raleway', sans-serif */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color-dark: #AEC5AA;
    --secondary-color-light: #ECF5ED;
    --dark-green-color: #003100;
    --light-green-color: #5A9D2D;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --light-gray-color: #474747;  
    --red-color: #c72727;
}

#index {
    font-family: 'Raleway', sans-serif;
    background-color: var(--dark-green-color);
    color: var(--black-color);
}

#pages {
  font-family: 'Raleway', sans-serif;
  background-color: var(--white-color);
  color: var(--black-color);
}

h1,
h2,
h3,
p {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  line-height: 1.5;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--black-color);
}


/* Header - Navbar */

#main-header {
  position: relative;
}

nav.navbar {
  background-color: var(--primary-color-dark);
  overflow:hidden;
  display: flex;
  height:80px;
  position: fixed;
  width: 100%;
  z-index: 999;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 14px 0;
  opacity: .9;
  }

.navbar-logo {
  height: 50px;
  position: absolute;
  left: 60px;
}

.nav-order {
  padding: 14px 0;

}


.nav-order a{
  font-weight: 700;
  color: var(--dark-green-color);
}

.navbar-nav {
  margin-left: 200px;
}

.navbar-nav ul {
  display: flex;
  justify-content: space-evenly;

}

.navbar-nav ul li {
  padding: 0 14px;
}


.navbar-nav a{
  color: var(--black-color);
  text-align:center;
  text-transform: uppercase;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 500;
  padding:14px 16px;
  text-decoration:none;
  font-size:16px;
}

.navbar-nav ul li span{
  font-size: 18px;
  color: var(--dark-green-color);
}

.navbar ul{
  margin:14px 0;
}

.navbar a:hover{
  color: var(--light-green-color);
}

svg {
  position: absolute;
  top: 25px;
  left: 30px;
  display: none;
}

.side-nav{
  height:100%;
  width:0;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color: var(--dark-green-color);
  opacity:0.9;
  overflow-x:hidden;
  padding-top:60px;
  transition: all 0.2s ease;
}

.side-nav a {
  color: var(--secondary-color-light);
  text-transform: uppercase;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 500;
}

.side-nav ul li a {
  padding:10px 10px 10px 30px;
  width: 100%;
  text-decoration:none;
  font-size:16px;
  color: var(--primary-color-dark);
  display: block;
  font-family: 'Raleway', sans-serif;
  transition:0.3s;
  text-align: left;
}

.side-nav ul li a:hover {
  background-color: var(--primary-color-dark);
  color: var(--light-green-color)
}

.side-nav .btn-close {
  position:absolute;
  top:0;
  right:22px;
  font-size:36px;
  margin-left:50px;
}

#main {
  transition:margin-left 0.5s;
  padding:20px;
  overflow:hidden;
  width:100%;
}

/* Order Button */

.order-btn {
  background-color: var(--primary-color-dark);
  padding: 5px 10px;
  color: #fff;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  color: inherit;
  cursor: pointer;
}

.order-btn:hover {
  color: var(--light-green-color);
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
 
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Image width */
.image-width {
  width: 100%;
  height: 100vh;
}

/* Circles */
.circles {
  text-align: center;
  position: absolute;
  top: 95%;
  width: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  position: absolute;
  top: 55%;
  left: 5%;
  font-weight: 300;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  width: 35%;
  text-align: left;
  color: var(--black-color);
}



/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Main Section */
#main-section .section-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

#main-section > *:last-child {
  background-color: var(--primary-color-dark) ;
}

.section-container > *:last-child {
  color: var(--secondary-color-light);
}

.image-1{
  width:100%;
  height: 70vh;
  object-fit: cover;
}


.image-2{
  margin-left: 100px;
  padding: 40px;
  height: 80vh;
}

/******** Main Section - media query **********/
@media only screen and (max-width: 1080px) {
  .section-container .px-1 {
    padding: 0 50px;
  }


  h2 {
    font-size: 18px;
    font-weight: 500;
  }

  p {
    font-size: 14px;
  }

  .px-1 .btn { 
    padding: 12px 18px;
  }


  .image-1{
    height: 50vh;
  }

  .image-2{
    margin-left: 20px;
    padding: 55px;
    height: 60vh;
  }

}

@media only screen and (max-width: 900px) {
  #main-section .section-container{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }

  .section-container .px-1 {
    padding: 0 50px;
    margin: 50px 0;
  }

  .image-2{
    padding: 10px;
    margin-left: 0;
    margin-bottom: 40px;
  }

}


@media only screen and (max-width: 600px) {

  .image-2{
    height: 55vh;
  }

}


/* Buttons */

.btn { 
  display: inline-block;
  padding: 14px 24px;
  cursor: pointer;
  border-radius: 50px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 30px;
}

.btn-light {
  background-color: var(--secondary-color-light);
  color:var(--dark-green-color);
}

.btn-dark {
  background-color: var(--dark-green-color);
  color:var(--secondary-color-light);
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-red{
  padding: 10px 24px;
  border: none;
  border-radius: 0;
  background-color: var(--red-color);
  color: var(--white-color);
  cursor: pointer;
}  

/* Utilites */

.py-1 {
  padding: 40px 60px;
}
.px-1 {
  padding: 0 70px;
}

a.current {
  color: var(--light-green-color);
}

.img-header {
  width: 100%;
  height: 70vh;
}

#pages-body {
  margin: 20px 40px 50px;
  padding: 40px 100px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  line-height: 1.5;
}

.grid-container__links {
  margin: 2em 0;
}

.grid-container__text {
  margin: 30px 100px;
}

.grid-container__text h2{
  font-weight: 500;
}

.grid-container p {
  margin-bottom: 10px;
}

.grid-container__links ul li a:hover,
.green-text {
  color: var(--light-green-color);
}

/* ---------------------------PAGES------------------------------- */

/* Catering */

#pages h1 {
  font-size: 40px;
  font-weight: 600;
}


/* Health and Safety */

.p-container ul{ 
  text-align: center;
  line-height: 2;
}

.p-container h2, h3 {
  font-weight: 500;
}

/* ---------------------------------------------------------------- */


  /* Footer */

#main-footer {
  background-color: var(--black-color);
  color: var(--white-color);
}

#main-footer .footer-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

#main-footer h3,
#main-footer a {
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}

/* Footer-logo */

.footer-logo {
  height: 70px;
}

/* Footer-social-menu */

.main-footer__social-menu {
  padding-left: 30px;
}

.main-footer__social-menu a {
  color: var(--white-color);
  margin-right: 8px;
}

.main-footer__social-menu a:hover,
.main-footer__site-links a:hover {
  color: var(--primary-color-dark);
}


/* Footer-newsletter */

.main-footer__newsletter {
  padding-left: 10px;
}

.main-footer__newsletter p {
  font-family: 'Raleway', sans-serif;
  font-size: 11.5px;
  text-transform: uppercase;
  text-align: left;
  margin: 24px 0;
}

.main-footer__newsletter input[type='email'] {
  width: 85%;
  padding: 10px 14px;
  margin-bottom: 10px;
  font-family: 'Roboto Mono', monospace;
  font-size: 10px;
  font-weight: 200;
}

.main-footer__newsletter input[type='submit'] {
  width: 85%;
}


/* Footer-site-links */

.main-footer__site-links {
  padding-left: 30px;
}

.main-footer__site-links h3{
  margin-bottom: 20px;
}

.main-footer__site-links ul li:not(:last-child) {
  padding-bottom: 17px;
}

.main-footer__site-links a {
  color: var(--white-color);
  font-size: 14px;
  font-weight: 300;
  
}


/* Footer-app-download */

.main-footer__app-download {
  padding-left: 20px;
}

.main-footer__app-download h3 {
  margin-bottom: 20px;
}

.main-footer__app-download img {
  margin-right: 12px;
  width: 100px;
}

/***Media Query-footer*****/

@media only screen and (max-width: 1080px) {
  .py-1 {
    padding: 20px 40px;
  }

  .footer-logo {
    height: 60px;
  }

  #main-footer h3, a {
    font-weight: 500;
    font-size: 14px;
  }

  .main-footer__site-links,
  .main-footer__social-menu {
    padding-left: 20px;
  }

  .main-footer__newsletter p {
    font-size: 9px;
  }


  #main-footer .main-footer__site-links a {
    font-size: 12px;
  }

}

@media only screen and (max-width: 900px) {
  #main-footer .footer-container {
    display: block;
  }

  .main-footer__logo {
    text-align: center;
    padding: 40px 0;
  }

  .main-footer__social-menu,
  .main-footer__newsletter,
  .main-footer__site-links,
  .main-footer__app-download {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    border-bottom: #444444 dotted 1px;
    padding-left: 0;
  }

  .main-footer__site-links ul li:not(:last-child) {
    padding-bottom: 10px;
  }

  .main-footer__newsletter input[type='email'] {
    width: 25%;
    padding: 10px 20px;
  }

  .main-footer__newsletter input[type='submit']  {
    width: 22%;
    font-size: 12px;
    padding: 10px 20px;
  }

  .main-footer__newsletter p {
    text-align: center;
    font-size: 12px;
  }

  .footer-container p {
    font-size: 10px;
  }

  
}

@media only screen and (max-width: 600px) {
  .main-footer__newsletter input[type='email'] {
    width: 50%;
    padding: 10px 20px;
  }

  .main-footer__newsletter input[type='submit']  {
    width: 40%;
    font-size: 12px;
    padding: 10px 20px;
  }
}

/********************** Copyright ***********************/

#main-footer .footer-container > *:last-child {
  display: grid;
  grid-column: 1 / span 5;
  padding-top:  30px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

/**************************************************************************
  Menu Page
***************************************************************************/

.parallax-image {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 50vh;
}

.parallax-image-hero-4 {
  background-image: url(../image_resources/hero_4.png);
}

.main-page-title {
  width: 85%;
  max-width: 900px;
  margin: auto
}

.menu-wrapper {
  display: flex;
  margin: 4em auto 0;
  width: 80%;
}

.container__links {
  margin-right: 1.5em;
  width: 60%;
  min-width: 150px;

  position: -webkit-sticky;
  position: sticky;
  top: 120px; /* for sticky to work we need to use a coordinate, in this case top: 120px; */
  align-self: flex-start; /* enables back the ability to use position: sticky; .container__links is a flex item, its align-item property is setting it to stretch which cancels the sticky property. Reference: https://www.digitalocean.com/community/tutorials/css-position-sticky */
}

.container__menu {
  margin-left: 1.5em;
}

#pages-body {
  max-width: 1200px;
  margin: 20px auto 50px;
}

@media (max-width: 880px) {
  #pages-body {
    width: 90%;
    margin: 20px auto 50px;
    padding: 40px 20px;
  }
  .parallax-image {
    height: 40vh;
  }
  .menu-wrapper {
    width: 85%;
  }
  .container__links {
    display: none;
  }
  .container__menu {
    margin-left: 0;
  }
}

@media (max-width: 320px) {
  #pages-body {
    width: 100%;
    padding: 40px 10px;
  }
  .parallax-image {
    height: 30vh;
  }
}

.btn-transparent {
  border: 1px solid black;
  border-radius: 0;
}

.menu-title {
  font-weight: bold;
  border-bottom: 1px solid black;
  margin-bottom: 1em;
}

.menu-section {
  margin: 1.5em 0;
}

.section-title {
  font-weight: bold;
}

.section-subtitle {
  font-weight: bold;
  color: var(--light-green-color);
  font-size: .8rem;
}

.section-main-ingredients {
  font-weight: bold;
  color: var(--dark-green-color);
}

/**************************************************************************
  Our Story Page
***************************************************************************/

.parallax-image-hero-5 {
  background-image: url(../image_resources/hero_5.png);
}

.our-mission-intro {
  margin-bottom: 4em;
}

.mission-section {
  margin-top: 2em;
}

.mission-section-title {
  margin-bottom: 1em;
}

.our-mission-team {
  margin: 2em auto;
  width: 90%;
}

.our-mission-team h2 {
  text-align: center;
  margin-bottom: 1em;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.team-members {
  display: flex;
  justify-content: space-between;
}

.team-members img {
  display: inline-block;
  width: 30%;
}

/**************************************************************************
  Locations Page
***************************************************************************/

#google-map {
  height: 50vh;
  width: 100%;
  background-image: rgba(104, 104, 104, 1);
}

.container-links-and-sections {
  display: flex;
  margin-top: 4em;
}

.location-section-content {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.location-section-title {
  border-bottom: 1px solid black;
  padding-bottom: .4em;
}

.image-guide {
  width: 50%;
}

/**************************************************************************
  Modal
***************************************************************************/

#open-modal-btn,
#close-modal-btn {
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    background: transparent;
    border-style: none;
    cursor: pointer;
}

#open-modal-btn:hover,
#open-modal-btn:focus,
#close-modal-btn:hover,
#close-modal-btn:focus {
    color: var(--light-green-color);
}

#overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.8);

}

#modal {
    background: var(--white-color);
    margin: 6em auto;
    padding: 1.5em;
    width: 75%;
    max-width: 600px;
    /* position: relative;
    top: 15%; */
    animation-name: modalopen;
    animation-duration: 0.7s;
}

.modal-content {
  border: 1px solid black;
  padding: 1.5em 2em;
}

.modal-content h2 {
  clear: right;
  text-align: center;
  margin-top: .8em;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 2rem;
}

.modal-content p {
  margin-bottom: 1.5em;
}

.modal-content button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  cursor: pointer;
  background: transparent;
  border: .9px solid black;
  border-radius: 0;
  margin: 2em 0;
  padding: 1em 4em;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
}

.closeBtn {
  color: #000;
  float: right;
  font-size: 3em;
}

.closeBtn:hover,
.closeBtn:focus {
  color: #ccc;
  text-decoration: none;
  cursor: pointer;
}

.modal-radio-inputs {
  margin: 2.5em 0;
  font-size: .7em;
  font-weight: 500;
}

.modal-radio-inputs input {
  background-color: black; /* To be checked, not working on the radio inputs */
}

#radio-option2 {
  margin-left: 3em;
}

.pop-up-login-link {
  margin: .8em 0;
}

#faddress-lbl {
  font-weight: bolder;
  font-size: .8em;
  display: block;
  margin-bottom: .5em;
}

#faddress {
  display: block;
  width: 100%;
  height: 40px;
  border: .9px solid black;
  padding: .5em .5em;
  font-size: 1em;
  font-weight: 400;
}

.pop-up-login-link {
  color: var(--light-green-color);
  font-size: .8rem;
}

@keyframes modalopen {
  from { opacity: 0 }
  to { opacity: 1 }
}


/**************************************************************************
  Navbar (media query)
***************************************************************************/

@media only screen and (max-width: 1080px) {
  
  nav.navbar {
    justify-content: center;
  }
  
  .navbar-logo {
    height: 50px;
    position: relative;
    left: 0;
  }
  
  .nav-order {
    padding: 0;
  }
  
  .nav-order a,
  .navbar-nav ul,
  .order-btn {
    display: none;
  }
  
  .navbar-nav {
    margin-left: 0;
  }
  
  svg {
    display: block;
  }
  
  
  .navbar ul{
    margin:0;
  }
  
  .navbar a:hover{
    color: var(--light-green-color);
  }
}